TaskManegmentSystemWCF/TMSClientApp/TMSWebClient/Connected Services/TMSService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TMSServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITMSServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TMSService" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITMSServices_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_getUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_getUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_loginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:loginUser" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_loginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_AddTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTask" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_AddTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_getTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:getTasks" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_getTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_userTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:userTasks" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_userTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:userTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_getId_InputMessage">
    <wsdl:part name="parameters" element="tns:getId" />
  </wsdl:message>
  <wsdl:message name="ITMSServices_getId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ITMSServices">
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/InsertUser" message="tns:ITMSServices_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/InsertUserResponse" message="tns:ITMSServices_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/getUsers" message="tns:ITMSServices_getUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/getUsersResponse" message="tns:ITMSServices_getUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/loginUser" message="tns:ITMSServices_loginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/loginUserResponse" message="tns:ITMSServices_loginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/AddTask" message="tns:ITMSServices_AddTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/AddTaskResponse" message="tns:ITMSServices_AddTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/getTasks" message="tns:ITMSServices_getTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/getTasksResponse" message="tns:ITMSServices_getTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/GetUser" message="tns:ITMSServices_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/GetUserResponse" message="tns:ITMSServices_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/updateUser" message="tns:ITMSServices_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/updateUserResponse" message="tns:ITMSServices_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/deleteUser" message="tns:ITMSServices_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/deleteUserResponse" message="tns:ITMSServices_deleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/userTasks" message="tns:ITMSServices_userTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/userTasksResponse" message="tns:ITMSServices_userTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMSServices/getId" message="tns:ITMSServices_getId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMSServices/getIdResponse" message="tns:ITMSServices_getId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITMSServices" type="tns:ITMSServices">
    <wsp:PolicyReference URI="#NetTcpBinding_ITMSServices_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InsertUser">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/InsertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/getUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/loginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/AddTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/getTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/updateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/deleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userTasks">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/userTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getId">
      <soap12:operation soapAction="http://tempuri.org/ITMSServices/getId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TMSServices">
    <wsdl:port name="NetTcpBinding_ITMSServices" binding="tns:NetTcpBinding_ITMSServices">
      <soap12:address location="net.tcp://localhost:8000/TcpBinding" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/TcpBinding</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>NOKIA111\HP</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>